{
	"plugins": ["prettier-plugin-tailwindcss"],
	"tailwindFunctions": ["clsx", "tw", "cn"],
	"tailwindStylesheet": "./src/styles.css",
	"arrowParens": "always",
	"endOfLine": "lf",
	"tabWidth": 2,
	"semi": true,
	"proseWrap": "always",
	"printWidth": 100,
	"trailingComma": "es5",
	"useTabs": true
}
